In [9]:
import pandas as pd
import numpy as np
from crime_info import crime_count
house_data = pd.read_csv('../data/kc_house_data.csv')
crime_data = pd.read_csv('../data/King_County_Sheriff_s_Office.csv')
crime_type = list(crime_data['incident_type_primary'])
crime_type_list = list(crime_data['incident_type_primary'].unique())
crime_lats = list(crime_data.latitude)
crime_lons = list(crime_data.longitude)
crime_gps = list(zip(crime_lats,crime_lons))


def crime_info_output():
    df_list = [] 
    
    #for i in range(0, len(house_data)-1):
    for i in range (0, 10):
        df_element = {}
        df_element['house id'] = house_data.id[i]
        for j in crime_type_list:
            df_element[j] = float('nan')
        
        count_numb = 0
        grouped_crime = {}
        house_gps = (house_data.lat[i], house_data.long[i])
        if np.isnan(house_gps[0]) or np.isnan(house_gps[1]):
            pass
        else:
            (counted_numb, grouped_crime) = crime_count(house_gps, crime_gps, crime_type)
            for j in list(grouped_crime.keys()):
                df_element[j] = grouped_crime[j]
        df_element['number of crimes'] = counted_numb
        df_list.append(df_element)
        
            
    
    df = pd.DataFrame(df_list)
    cols = df.columns.tolist()
    cols = cols[-2:] + cols[:-2]
    df = df[cols]
    return df

/Users/hunting/miniconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
df = crime_info_output()

In [11]:
df

,house id,number of crimes,"ASSAULT, AGGRAVATED","ASSAULT, SIMPLE",Assault,"BURGLARY, COMM., ATTEMPT","BURGLARY, COMM., F/E","BURGLARY, COMM., N/F","BURGLARY, RES., ATTEMPT","BURGLARY, RES., F/E",...,"ROBBERY, RESIDENCE",Robbery,"THEFT, AUTO","THEFT, OTHER VEHICLE",TRESPASS,Theft,Theft from Vehicle,Theft of Vehicle,VANDALISM OVER $1500,VANDALISM UNDER $1500
0,7129300520,653,NaN,NaN,55.0,NaN,NaN,NaN,NaN,1.0,...,NaN,14.0,3.0,NaN,NaN,64.0,93.0,89.0,NaN,1.0
1,6414100192,17,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,4.0,NaN,NaN,NaN
2,5631500400,122,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,21.0,21.0,5.0,NaN,NaN
3,2487200875,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
4,1954400510,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,7237550310,120,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,14.0,19.0,4.0,NaN,1.0
6,1321400060,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN,NaN
7,2008000270,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2414600126,7875,2.0,2.0,763.0,NaN,1.0,NaN,NaN,2.0,...,1.0,221.0,12.0,NaN,10.0,1167.0,849.0,1129.0,1.0,3.0
9,3793500160,86,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,21.0,10.0,5.0,NaN,NaN

In [22]:
crime_data = pd.read_csv('../data/King_County_Sheriff_s_Office.csv', parse_dates=['incident_datetime'])
crime_data['incident_datetime']

/Users/hunting/miniconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

0       2014-08-01
1       2016-01-01
2       2016-05-05
3       2016-07-01
4       2016-05-09
5       2016-05-09
6       2016-05-10
7       2016-05-10
8       2016-07-03
9       2016-05-11
10      2016-05-11
11      2016-05-11
12      2016-05-12
13      2016-05-12
14      2016-05-12
15      2016-05-12
16      2016-04-25
17      2016-05-12
18      2016-05-12
19      2016-05-12
20      2016-07-06
21      2016-07-08
22      2016-07-08
23      2016-07-09
24      2016-07-09
25      2016-07-09
26      2016-07-09
27      2016-07-09
28      2016-07-09
29      2016-03-05
           ...
56002   2016-08-10
56003   2016-08-16
56004   2016-08-17
56005   2016-08-17
56006   2016-08-17
56007   2016-08-17
56008   2016-08-17
56009   2016-08-17
56010   2016-08-17
56011   2016-08-18
56012   2016-08-18
56013   2016-08-18
56014   2016-08-18
56015   2016-08-18
56016   2016-08-18
56017   2016-08-18
56018   2016-08-18
56019   2016-08-18
56020   2016-08-18
56021   2016-08-18
56022   2016-08-18
56023   2016-08-18
56024   2016-08-18
56025   2016-08-18
56026   2016-07-23
56027   2016-08-27
56028   2016-09-04
56029   2016-09-09
56030   2016-09-12
56031   2016-08-30
Name: incident_datetime, dtype: datetime64[ns]

In [20]:
house_data = pd.read_csv('../data/kc_house_data.csv', parse_dates=['date'])

In [21]:
house_data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,2014-05-12,1225000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,2014-06-27,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,2015-01-15,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,2015-04-15,229500.0,3,1.00,1780,7470,1.0,0,0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,2015-03-12,323000.0,3,2.50,1890,6560,2.0,0,0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570
10,1736800520,2015-04-03,662500.0,3,2.50,3560,9796,1.0,0,0,...,8,1860,1700,1965,0,98007,47.6007,-122.145,2210,8925
11,9212900260,2014-05-27,468000.0,2,1.00,1160,6000,1.0,0,0,...,7,860,300,1942,0,98115,47.6900,-122.292,1330,6000
12,114101516,2014-05-28,310000.0,3,1.00,1430,19901,1.5,0,0,...,7,1430,0,1927,0,98028,47.7558,-122.229,1780,12697
13,6054650070,2014-10-07,400000.0,3,1.75,1370,9680,1.0,0,0,...,7,1370,0,1977,0,98074,47.6127,-122.045,1370,10208
14,1175000570,2015-03-12,530000.0,5,2.00,1810,4850,1.5,0,0,...,7,1810,0,1900,0,98107,47.6700,-122.394,1360,4850
15,9297300055,2015-01-24,650000.0,4,3.00,2950,5000,2.0,0,3,...,9,1980,970,1979,0,98126,47.5714,-122.375,2140,4000
16,1875500060,2014-07-31,395000.0,3,2.00,1890,14040,2.0,0,0,...,7,1890,0,1994,0,98019,47.7277,-121.962,1890,14018
17,6865200140,2014-05-29,485000.0,4,1.00,1600,4300,1.5,0,0,...,7,1600,0,1916,0,98103,47.6648,-122.343,1610,4300
18,16000397,2014-12-05,189000.0,2,1.00,1200,9850,1.0,0,0,...,7,1200,0,1921,0,98002,47.3089,-122.210,1060,5095
19,7983200060,2015-04-24,230000.0,3,1.00,1250,9774,1.0,0,0,...,7,1250,0,1969,0,98003,47.3343,-122.306,1280,8850
20,6300500875,2014-05-14,385000.0,4,1.75,1620,4980,1.0,0,0,...,7,860,760,1947,0,98133,47.7025,-122.341,1400,4980
21,2524049179,2014-08-26,2000000.0,3,2.75,3050,44867,1.0,0,4,...,9,2330,720,1968,0,98040,47.5316,-122.233,4110,20336
22,7137970340,2014-07-03,285000.0,5,2.50,2270,6300,2.0,0,0,...,8,2270,0,1995,0,98092,47.3266,-122.169,2240,7005
23,8091400200,2014-05-16,252700.0,2,1.50,1070,9643,1.0,0,0,...,7,1070,0,1985,0,98030,47.3533,-122.166,1220,8386
24,3814700200,2014-11-20,329000.0,3,2.25,2450,6500,2.0,0,0,...,8,2450,0,1985,0,98030,47.3739,-122.172,2200,6865
25,1202000200,2014-11-03,233000.0,3,2.00,1710,4697,1.5,0,0,...,6,1710,0,1941,0,98002,47.3048,-122.218,1030,4705
26,1794500383,2014-06-26,937000.0,3,1.75,2450,2691,2.0,0,0,...,8,1750,700,1915,0,98119,47.6386,-122.360,1760,3573
27,3303700376,2014-12-01,667000.0,3,1.00,1400,1581,1.5,0,0,...,8,1400,0,1909,0,98112,47.6221,-122.314,1860,3861
28,5101402488,2014-06-24,438000.0,3,1.75,1520,6380,1.0,0,0,...,7,790,730,1948,0,98115,47.6950,-122.304,1520,6235
29,1873100390,2015-03-02,719000.0,4,2.50,2570,7173,2.0,0,0,...,8,2570,0,2005,0,98052,47.7073,-122.110,2630,6026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21583,2025049203,2014-06-10,399950.0,2,1.00,710,1157,2.0,0,0,...,7,710,0,1943,0,98102,47.6413,-122.329,1370,1173
21584,952006823,2014-12-02,380000.0,3,2.50,1260,900,2.0,0,0,...,7,940,320,2007,0,98116,47.5621,-122.384,1310,1415
21585,3832050760,2014-08-28,270000.0,3,2.50,1870,5000,2.0,0,0,...,7,1870,0,2009,0,98042,47.3339,-122.055,2170,5399
21586,2767604724,2014-10-15,505000.0,2,2.50,1430,1201,3.0,0,0,...,8,1430,0,2009,0,98107,47.6707,-122.381,1430,1249
21587,6632300207,2015-03-05,385000.0,3,2.50,1520,1488,3.0,0,0,...,8,1520,0,2006,0,98125,47.7337,-122.309,1520,1497
21588,2767600688,2014-11-13,414500.0,2,1.50,1210,1278,2.0,0,0,...,8,1020,190,2007,0,98117,47.6756,-122.375,1210,1118
21589,7570050450,2014-09-10,347500.0,3,2.50,2540,4760,2.0,0,0,...,8,2540,0,2010,0,98038,47.3452,-122.022,2540,4571
21590,7430200100,2014-05-14,1222500.0,4,3.50,4910,9444,1.5,0,0,...,11,3110,1800,2007,0,98074,47.6502,-122.066,4560,11063
21591,4140940150,2014-10-02,572000.0,4,2.75,2770,3852,2.0,0,0,...,8,2770,0,2014,0,98178,47.5001,-122.232,1810,5641
21592,1931300412,2015-04-16,475000.0,3,2.25,1190,1200,3.0,0,0,...,8,1190,0,2008,0,98103,47.6542,-122.346,1180,1224
21593,8672200110,2015-03-17,1088000.0,5,3.75,4170,8142,2.0,0,2,...,10,4170,0,2006,0,98056,47.5354,-122.181,3030,7980
21594,5087900040,2014-10-17,350000.0,4,2.75,2500,5995,2.0,0,0,...,8,2500,0,2008,0,98042,47.3749,-122.107,2530,5988
21595,1972201967,2014-10-31,520000.0,2,2.25,1530,981,3.0,0,0,...,8,1480,50,2006,0,98103,47.6533,-122.346,1530,1282
21596,7502800100,2014-08-13,679950.0,5,2.75,3600,9437,2.0,0,0,...,9,3600,0,2014,0,98059,47.4822,-122.131,3550,9421
21597,191100405,2015-04-21,1575000.0,4,3.25,3410,10125,2.0,0,0,...,10,3410,0,2007,0,98040,47.5653,-122.223,2290,10125
21598,8956200760,2014-10-13,541800.0,4,2.50,3118,7866,2.0,0,2,...,9,3118,0,2014,0,98001,47.2931,-122.264,2673,6500
21599,7202300110,2014-09-15,810000.0,4,3.00,3990,7838,2.0,0,0,...,9,3990,0,2003,0,98053,47.6857,-122.046,3370,6814
21600,249000205,2014-10-15,1537000.0,5,3.75,4470,8088,2.0,0,0,...,11,4470,0,2008,0,98004,47.6321,-122.200,2780,8964
21601,5100403806,2015-04-07,467000.0,3,2.50,1425,1179,3.0,0,0,...,8,1425,0,2008,0,98125,47.6963,-122.318,1285,1253
21602,844000965,2014-06-26,224000.0,3,1.75,1500,11968,1.0,0,0,...,6,1500,0,2014,0,98010,47.3095,-122.002,1320,11303
21603,7852140040,2014-08-25,507250.0,3,2.50,2270,5536,2.0,0,0,...,8,2270,0,2003,0,98065,47.5389,-121.881,2270,5731
21604,9834201367,2015-01-26,429000.0,3,2.00,1490,1126,3.0,0,0,...,8,1490,0,2014,0,98144,47.5699,-122.288,1400,1230
21605,3448900210,2014-10-14,610685.0,4,2.50,2520,6023,2.0,0,0,...,9,2520,0,2014,0,98056,47.5137,-122.167,2520,6023
21606,7936000429,2015-03-26,1007500.0,4,3.50,3510,7200,2.0,0,0,...,9,2600,910,2009,0,98136,47.5537,-122.398,2050,6200
21607,2997800021,2015-02-19,475000.0,3,2.50,1310,1294,2.0,0,0,...,8,1180,130,2008,0,98116,47.5773,-122.409,1330,1265
21608,263000018,2014-05-21,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,2015-02-23,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,2014-06-23,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,2015-01-16,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,2014-10-15,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [32]:
crime_data.sort_values(by='incident_datetime')

,incident_id,case_number,incident_datetime,incident_type_primary,incident_description,clearance_type,address_1,address_2,city,state,zip,country,latitude,longitude,created_at,updated_at,location,hour_of_day,day_of_week,parent_incident_type
38472,63371237,-1610947072,1986-10-01,Property Crime,"""Time_00:00:00 Case_11-083147 Crime_FRAUD, ALL...",NaN,9500 Block 314 AV SE,NaN,ISSAQUAH,WA,98027,null,47.512848,-121.919201,04/22/2011 05:30:46 AM,05/04/2011 05:30:44 AM,POINT (-121.919201 47.512848),0,Wednesday,Property Crime
36968,60627943,1300835406,1990-01-01,Property Crime,"""Time_06:00:00 Case_11-061029 Crime_FRAUD, ALL...",NaN,17900 Block 642 AV NE,NaN,BARING,WA,null,null,47.763462,-121.478052,03/23/2011 05:30:49 AM,04/05/2011 05:32:24 AM,POINT (-121.478052 47.763462),0,Monday,Property Crime
35464,580924379,1412707953,1993-01-23,Property Crime,"""Time_09:00:00 Case_14-267921 Crime_FRAUD, ALL...",NaN,19500 Block NE159,NaN,REDMOND,WA,98052,null,47.688583,-122.128347,10/14/2014 05:25:03 PM,10/16/2014 07:44:11 PM,POINT (-122.128347 47.688583),0,Saturday,Property Crime
37910,624778674,1416871440,1993-09-01,Theft,"""Time_00:00:00 Case_14-315210 Crime_LARCENY, T...",NaN,28800 Block 41 AV S,NaN,AUBURN,WA,98001,null,47.283518,-122.282845,12/01/2014 05:10:16 PM,12/05/2014 05:45:53 PM,POINT (-122.282845 47.283518),0,Wednesday,Theft
31077,49784385,-1517558784,1996-06-01,Property Crime,NaN,NaN,15800 Block NE 162 ST,NaN,WOODINVILLE,WA,null,null,47.745043,-122.128587,11/02/2010 06:25:12 PM,11/15/2010 06:29:37 AM,POINT (-122.128587 47.745043),0,Saturday,Property Crime
21542,391538952,-622913792,2000-01-29,Property Crime,"""Time_00:00:00 Case_14-068753 Crime_FRAUD, ALL...",NaN,22100 Block NE 54 ST,NaN,REDMOND,WA,98053,null,47.655603,-122.045092,03/21/2014 05:47:43 AM,04/02/2014 06:25:28 AM,POINT (-122.045092 47.655603),0,Saturday,Property Crime
27995,46856698,1996504320,2000-04-19,Property Crime,"""Time_12:00:00 Case_10-089772 Crime_FRAUD, ALL...",NaN,25200 BLOCK NE 62 ST,NaN,REDMOND,WA,null,null,47.660629,-122.003479,09/25/2010 04:55:52 PM,10/15/2010 04:27:49 PM,POINT (-122.003479 47.660629),0,Wednesday,Property Crime
20882,367784115,-124646400,2000-06-01,Property Crime,"""Time_12:00:00 Case_14-042694 Crime_FRAUD, ALL...",NaN,30600 Block 164 AV SE,NaN,AUBURN,WA,98092,null,47.327427,-122.123245,02/20/2014 11:34:11 PM,03/04/2014 06:32:34 AM,POINT (-122.123244 47.327427),0,Thursday,Property Crime
25463,45133511,2039130368,2000-12-01,Property Crime,NaN,NaN,10800 BLOCK 4 PL SW,NaN,SEATTLE,WA,null,US,47.506210,-122.339867,08/28/2010 02:44:14 AM,10/15/2010 04:27:49 PM,POINT (-122.339867 47.50621),0,Friday,Property Crime
52136,87896282,1321573034,2001-04-01,Property Crime,"""Time_00:00:00 Case_11-255893 Crime_FRAUD, ALL...",NaN,6000 Block S 118 PL,NaN,SEATTLE,WA,98178,null,47.497055,-122.258137,11/19/2011 06:31:10 AM,12/01/2011 06:31:07 AM,POINT (-122.258137 47.497055),0,Sunday,Property Crime
32602,52635494,-877722112,2001-09-01,Property Crime,"""Time_17:54:00 Case_10-282222 Crime_FRAUD, ALL...",NaN,12000 Block 69 AV S,NaN,SEATTLE,WA,null,null,47.495278,-122.247813,12/08/2010 06:31:43 AM,12/17/2010 06:30:57 AM,POINT (-122.247813 47.495278),0,Saturday,Property Crime
707,752007142,38591313,2002-01-26,Property Crime,Time_21:40:00 Case_C16700622 Crime_VANDALISM U...,NaN,28000 Block 34TH AVE S,NaN,AUBURN,WA,98001,NaN,47.350548,-122.289261,03/08/2016 04:04:24 AM,03/21/2016 05:30:34 AM,POINT (-122.2892611 47.3505478),0,Saturday,Property Crime
4856,104197766,1332224946,2002-03-19,Property Crime,"""Time_00:00:00 Case_12-064975 Crime_FRAUD, ALL...",NaN,4700 Block 149 AV SE,NaN,BELLEVUE,WA,98006,null,47.561739,-122.140742,03/23/2012 05:30:54 AM,04/02/2012 05:30:51 AM,POINT (-122.140742 47.561739),0,Tuesday,Property Crime
38875,63911737,-1887970868,2002-04-30,Theft of Vehicle,"""Time_00:00:00 Case_11-091384 Crime_THEFT, AUTO""",NaN,14500 Block 178 AV SE,NaN,RENTON,WA,98059,null,47.472423,-122.104297,05/02/2011 05:30:53 AM,05/14/2011 05:30:48 AM,POINT (-122.104297 47.472423),0,Tuesday,Theft of Vehicle
37631,61894690,789646592,2002-09-01,Property Crime,"""Time_00:01:00 Case_11-070801 Crime_FRAUD, ALL...",NaN,15500 Block JUANITA WOODINVILLE WAY NE,NaN,BOTHELL,WA,98011,null,47.740366,-122.189255,04/06/2011 06:53:27 PM,04/18/2011 05:46:34 AM,POINT (-122.189255 47.740366),0,Sunday,Property Crime
10276,131244315,-652228608,2002-11-02,Property Crime,"""Time_00:00:00 Case_12-255354 Crime_FRAUD, ALL...",NaN,10800 Block 26 AV SW,NaN,BURIEN,WA,98166,null,47.466788,-122.365115,11/04/2012 05:31:03 AM,11/16/2012 06:31:06 AM,POINT (-122.365115 47.466788),0,Saturday,Property Crime
24439,45112079,420099330,2003-01-01,Property Crime,NaN,NaN,SE 224 ST & 286 AV SE,NaN,MAPLE VALLEY,WA,null,US,47.401409,-121.963112,08/27/2010 09:05:08 PM,10/15/2010 04:27:49 PM,POINT (-121.963112 47.401409),0,Wednesday,Property Crime
17055,230549166,1377559940,2003-09-07,Property Crime,Time_12:00:00 Case_13-199231 Crime_FORGERY CRE...,NaN,39700 Block 186 AV SE,NaN,AUBURN,WA,98092,null,47.245537,-122.092763,08/28/2013 05:31:35 AM,09/09/2013 05:32:59 AM,POINT (-122.092763 47.245537),0,Sunday,Property Crime
10388,132099505,2066577152,2003-11-03,Property Crime,"""Time_13:00:00 Case_12-259386 Crime_FRAUD, ALL...",NaN,4900 Block S 376 ST,NaN,AUBURN,WA,98001,null,47.264361,-122.273783,11/09/2012 06:30:57 AM,11/21/2012 06:30:54 AM,POINT (-122.273783 47.264361),0,Monday,Property Crime
27751,46856447,-1599054336,2004-07-29,Property Crime,"""Time_12:00:00 Case_10-098287 Crime_FRAUD, ALL...",NaN,26000 Block SE 38 ST,NaN,ISSAQUAH,WA,null,null,47.575458,-121.994234,09/25/2010 04:55:52 PM,10/24/2010 10:41:36 PM,POINT (-121.994234 47.575458),0,Thursday,Property Crime
4205,100167748,1798378240,2004-08-01,Property Crime,"""Time_00:00:00 Case_12-036812 Crime_FRAUD, ALL...",NaN,6600 Block S 124 ST,NaN,SEATTLE,WA,98178,null,47.492580,-122.254303,02/23/2012 06:43:55 AM,02/28/2012 06:34:10 AM,POINT (-122.254303 47.49258),0,Sunday,Property Crime
8856,125437426,-548357376,2004-08-28,Property Crime,"""Time_12:00:00 Case_12-201982 Crime_FRAUD, ALL...",NaN,44100 Block SE 136 ST,NaN,NORTH BEND,WA,98045,null,47.475604,-121.751211,09/05/2012 05:30:43 AM,09/11/2012 05:30:46 AM,POINT (-121.751211 47.475604),0,Saturday,Property Crime
53273,92836042,2027830528,2004-11-26,Property Crime,"""Time_12:00:00 Case_12-003572 Crime_FRAUD, ALL...",NaN,28400 Block 168 AV SE,NaN,KENT,WA,98042,null,47.346772,-122.117674,01/07/2012 06:30:55 AM,01/19/2012 06:30:52 AM,POINT (-122.117673 47.346772),0,Friday,Property Crime
25696,45141047,-293628902,2004-12-26,Property Crime,NaN,NaN,16200 BLOCK 135 AV SE,NaN,RENTON,WA,null,US,47.457989,-122.159439,08/28/2010 04:21:28 AM,10/15/2010 04:27:49 PM,POINT (-122.159439 47.457989),0,Sunday,Property Crime
7499,118593284,-1317174784,2005-01-01,Property Crime,"""Time_00:00:00 Case_12-159446 Crime_FRAUD, ALL...",NaN,17700 Block 201 AV NE,NaN,WOODINVILLE,WA,98077,null,47.756960,-122.069111,07/13/2012 05:30:45 AM,07/23/2012 05:30:41 AM,POINT (-122.069111 47.75696),0,Saturday,Property Crime
35322,57635191,1483765504,2005-02-08,Property Crime,"""Time_00:00:00 Case_11-029158 Crime_FRAUD, ALL...",NaN,10900 Block GLEN ACRES DR S,NaN,SEATTLE,WA,null,null,47.504353,-122.321000,02/11/2011 06:30:47 AM,02/22/2011 06:31:11 AM,POINT (-122.321 47.504353),0,Tuesday,Property Crime
25496,45134227,-1310427392,2005-07-01,Property Crime,"""Time_12:00:00 Case_10-147328 Crime_FRAUD, ALL...",NaN,3700 Block S 298 ST,NaN,AUBURN,WA,null,US,47.334920,-122.286756,08/28/2010 02:52:10 AM,10/24/2010 10:44:06 PM,POINT (-122.286756 47.33492),0,Friday,Property Crime
49435,75195003,-1177675598,2005-07-28,Theft,"""Time_07:20:00 Case_11-700632 Crime_LARCENY, N...",NaN,4100 Block 268TH AVE NE,NaN,REDMOND,WA,98053,null,47.645305,-121.981312,07/29/2011 05:30:45 AM,08/11/2011 05:30:49 AM,POINT (-121.981312 47.645305),0,Thursday,Theft
27295,46855974,-652649728,2005-08-01,Property Crime,"""Time_12:00:00 Case_10-086598 Crime_FRAUD, ALL...",NaN,10700 BLOCK 14 AV SW,NaN,SEATTLE,WA,null,null,47.507141,-122.352448,09/25/2010 04:55:52 PM,10/15/2010 04:27:49 PM,POINT (-122.352448 47.507141),0,Monday,Property Crime
13160,147726628,-625775872,2005-08-24,Property Crime,"""Time_12:56:00 Case_13-063905 Crime_FRAUD, ALL...",NaN,13400 Block MARTIN LUTHER KING JR WAY S,NaN,SEATTLE,WA,98178,null,47.483056,-122.248843,03/24/2013 05:31:07 AM,04/05/2013 05:31:10 AM,POINT (-122.248843 47.483056),0,Wednesday,Property Crime
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49847,76910852,-1031499006,NaT,Property Crime,Time_00:00:00 Case_11-176257 Crime_TRESPASS,NaN,2800 Block SW ROXBURY ST,NaN,SEATTLE,WA,98126,null,47.517414,-122.368255,08/12/2011 05:31:03 AM,08/24/2011 05:31:02 AM,POINT (-122.368255 47.517414),0,null,Property Crime
50346,79079495,308731761,NaT,Property Crime,Time_00:00:00 Case_11-193737 Crime_VANDALISM,NaN,29800 Block 43 AV S,NaN,AUBURN,WA,98001,null,47.334685,-122.280409,09/03/2011 05:30:55 AM,09/07/2011 03:25:44 PM,POINT (-122.280409 47.334686),0,null,Property Crime
50348,79079497,269798622,NaT,Property Crime,Time_00:00:00 Case_11-193738 Crime_VANDALISM,NaN,4200 Block S 297 PL,NaN,AUBURN,WA,98001,null,47.335342,-122.280921,09/03/2011 05:30:55 AM,09/07/2011 03:25:44 PM,POINT (-122.280921 47.335342),0,null,Property Crime
50349,79079498,-26200516,NaT,Property Crime,Time_00:00:00 Case_11-193740 Crime_VANDALISM,NaN,4200 Block S 288 ST,NaN,AUBURN,WA,98001,null,47.343397,-122.281281,09/03/2011 05:30:55 AM,09/07/2011 03:25:44 PM,POINT (-122.281281 47.343397),0,null,Property Crime
50350,79079499,-311201651,NaT,Property Crime,Time_00:00:00 Case_11-193747 Crime_VANDALISM,NaN,28800 Block 37 AV S,NaN,AUBURN,WA,98001,null,47.343328,-122.286598,09/03/2011 05:30:55 AM,09/07/2011 03:25:44 PM,POINT (-122.286598 47.343329),0,null,Property Crime
50351,79079500,-1994656976,NaT,Property Crime,Time_00:00:00 Case_11-193736 Crime_VANDALISM,NaN,29700 Block 39 PL S,NaN,AUBURN,WA,98001,null,47.335412,-122.284909,09/03/2011 05:30:55 AM,09/07/2011 03:25:44 PM,POINT (-122.284909 47.335412),0,null,Property Crime
50354,79079503,-449349881,NaT,Property Crime,Time_00:00:00 Case_11-193739 Crime_VANDALISM,NaN,29700 Block 48 AV S,NaN,AUBURN,WA,98001,null,47.336587,-122.274097,09/03/2011 05:30:55 AM,09/07/2011 03:25:44 PM,POINT (-122.274097 47.336587),0,null,Property Crime
50435,79299060,1315263111,NaT,Property Crime,Time_00:00:00 Case_11-197444 Crime_VANDALISM,NaN,28600 Block 46 AV S,NaN,AUBURN,WA,98001,null,47.345096,-122.276016,09/07/2011 05:30:55 AM,09/07/2011 03:25:44 PM,POINT (-122.276016 47.345096),0,null,Property Crime
50640,81372553,1665363689,NaT,Property Crime,Time_00:00:00 Case_11-202709 Crime_VANDALISM,NaN,9500 Block 14 AV S,NaN,SEATTLE,WA,98108,null,47.517359,-122.315023,09/19/2011 03:57:07 PM,09/25/2011 05:31:05 AM,POINT (-122.315023 47.517359),0,null,Property Crime
50653,81372566,-171977482,NaT,Property Crime,Time_00:00:00 Case_11-202710 Crime_VANDALISM,NaN,1200 Block S 96 ST,NaN,SEATTLE,WA,98108,null,47.517072,-122.318583,09/19/2011 03:57:07 PM,09/25/2011 05:31:05 AM,POINT (-122.318583 47.517072),0,null,Property Crime
50769,82006951,1316533482,NaT,Breaking & Entering,"""Time_00:00:00 Case_11-209585 Crime_BURGLARY, ...",NaN,3400 Block S 288 ST,NaN,FEDERAL WAY,WA,98001,null,47.344785,-122.288691,09/22/2011 05:30:57 AM,10/04/2011 05:30:55 AM,POINT (-122.288691 47.344785),0,null,Breaking & Entering
51124,83493434,-963271652,NaT,Property Crime,"""Time_00:00:00 Case_11-221283 Crime_FRAUD, ALL...",NaN,16000 Block SE 131 ST,NaN,RENTON,WA,98059,null,47.485505,-122.127152,10/06/2011 05:30:53 AM,10/18/2011 05:30:55 AM,POINT (-122.127152 47.485505),0,null,Property Crime
51331,84546456,1318071889,NaT,Drugs,Time_00:00:00 Case_11-224238 Crime_CONTROLLED ...,NaN,1700 Block SW 98 ST,NaN,SEATTLE,WA,98106,null,47.515541,-122.356505,10/17/2011 05:42:49 PM,10/21/2011 05:31:02 AM,POINT (-122.356505 47.515541),0,null,Quality of Life
51458,84873567,-418604108,NaT,Property Crime,Time_00:00:00 Case_11-233127 Crime_VANDALISM,NaN,18000 Block 140 AV SE,NaN,RENTON,WA,98058,null,47.441120,-122.154307,10/21/2011 05:30:52 AM,11/02/2011 05:30:53 AM,POINT (-122.154307 47.44112),0,null,Property Crime
51459,84873568,1319061800,NaT,Property Crime,Time_00:00:00 Case_11-233009 Crime_VANDALISM,NaN,19200 Block 138 AV SE,NaN,RENTON,WA,98058,null,47.430347,-122.157241,10/21/2011 05:30:52 AM,11/02/2011 05:30:53 AM,POINT (-122.157241 47.430347),0,null,Property Crime
51461,84873570,641266582,NaT,Property Crime,Time_00:00:00 Case_11-233010 Crime_VANDALISM,NaN,13400 Block SE 192 ST,NaN,RENTON,WA,98058,null,47.430371,-122.162324,10/21/2011 05:30:52 AM,11/02/2011 05:30:53 AM,POINT (-122.162324 47.430371),0,null,Property Crime
51466,84873575,1515951455,NaT,Property Crime,Time_00:00:00 Case_11-233125 Crime_VANDALISM,NaN,13600 Block SE 192 ST,NaN,RENTON,WA,98058,null,47.430360,-122.158644,10/21/2011 05:30:52 AM,11/02/2011 05:30:53 AM,POINT (-122.158644 47.43036),0,null,Property Crime
51513,85044996,-190689078,NaT,Property Crime,Time_00:00:00 Case_11-234725 Crime_VANDALISM,NaN,3200 Block S 288 ST,NaN,AUBURN,WA,98001,null,47.343343,-122.291825,10/23/2011 05:30:56 AM,11/03/2011 05:30:55 AM,POINT (-122.291825 47.343343),0,null,Property Crime
51516,85045003,-1784828029,NaT,Property Crime,Time_00:00:00 Case_11-234726 Crime_VANDALISM,NaN,9600 Block 15 AV SW,NaN,SEATTLE,WA,98106,null,47.517066,-122.353468,10/23/2011 05:31:07 AM,11/03/2011 05:31:03 AM,POINT (-122.353468 47.517066),0,null,Property Crime
51518,85045005,-1430074007,NaT,Property Crime,Time_00:00:00 Case_11-234727 Crime_VANDALISM,NaN,9600 Block 16 AV SW,NaN,SEATTLE,WA,98106,null,47.517264,-122.354982,10/23/2011 05:31:07 AM,11/03/2011 05:31:03 AM,POINT (-122.354982 47.517264),0,null,Property Crime
51519,85045006,878833157,NaT,Property Crime,Time_00:00:00 Case_11-234728 Crime_VANDALISM,NaN,1500 Block SW ROXBURY ST,NaN,SEATTLE,WA,98106,null,47.517398,-122.354031,10/23/2011 05:31:07 AM,11/03/2011 05:31:03 AM,POINT (-122.354031 47.517398),0,null,Property Crime
51524,85045011,752905212,NaT,Property Crime,Time_00:00:00 Case_11-234288 Crime_TRESPASS,NaN,9600 Block 16 AV SW,NaN,SEATTLE,WA,98106,null,47.517264,-122.354982,10/23/2011 05:31:07 AM,11/04/2011 05:30:58 AM,POINT (-122.354982 47.517264),0,null,Property Crime
52158,87943371,1656762935,NaT,Drugs,"""Time_00:00:00 Case_11-257261 Crime_CONTROLLED...",NaN,10600 Block 17 AV SW,NaN,SEATTLE,WA,98146,null,47.508568,-122.356423,11/20/2011 06:32:08 AM,12/02/2011 06:31:08 AM,POINT (-122.356423 47.508568),0,null,Quality of Life
52244,88300508,75220448,NaT,Property Crime,Time_00:00:00 Case_11-259569 Crime_TRESPASS,NaN,2800 Block SW ROXBURY,NaN,SEATTLE,WA,98126-4148,null,47.516688,-122.369401,11/25/2011 06:31:14 AM,12/06/2011 06:31:06 AM,POINT (-122.369401 47.516688),0,null,Property Crime
53492,94387885,1326619708,NaT,Theft,"""Time_00:00:00 Case_12-011831 Crime_LARCENY, S...",NaN,1500 Block SW ROXBURY,NaN,SEATTLE,WA,98106,null,47.517398,-122.354031,01/16/2012 06:31:03 AM,01/28/2012 06:31:00 AM,POINT (-122.354031 47.517398),0,null,Theft
54553,780173825,C16053762,NaT,"BURGLARY, RES., F/E","BURGLARY, RES., F/E",NaN,NaN,NaN,AUBURN,WA,NaN,NaN,NaN,NaN,11/02/2016 08:14:02 PM,11/02/2016 10:13:46 PM,NaN,0,NaN,Breaking & Entering
54631,767173582,1470315618,NaT,Property Crime,Time_00:00:00 Case_C16039555 Crime_TRESPASS,NaN,NaN,NaN,AUBURN,WA,NaN,NaN,NaN,NaN,08/08/2016 03:27:29 AM,08/18/2016 05:30:21 AM,NaN,0,NaN,Property Crime
54962,773507675,1474311571,NaT,Assault,"Time_00:00:00 Case_C16048011 Crime_ASSAULT, SI...",NaN,NaN,NaN,AUBURN,WA,NaN,NaN,NaN,NaN,09/23/2016 03:32:10 AM,10/03/2016 05:30:22 AM,NaN,0,NaN,Assault
55747,771198950,1468689152,NaT,Property Crime,Time_00:00:00 Case_C16045140 Crime_VANDALISM U...,NaN,NaN,NaN,REDMOND,WA,NaN,NaN,NaN,NaN,09/07/2016 03:31:44 AM,09/19/2016 10:52:17 PM,NaN,0,NaN,Property Crime
55845,767811134,953307730,NaT,Theft from Vehicle,"Time_00:00:00 Case_C16041089 Crime_LARCENY, TFA",NaN,NaN,NaN,SEATTLE,WA,NaN,NaN,NaN,NaN,08/15/2016 03:28:42 AM,08/26/2016 05:30:35 AM,NaN,0,NaN,Theft from Vehicle

In [33]:
house_data.sort_values(by='date')

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
16768,5561000190,2014-05-02,437500.0,3,2.25,1970,35100,2.0,0,0,...,9,1970,0,1977,0,98027,47.4635,-121.991,2340,35100
9596,472000620,2014-05-02,790000.0,3,2.50,2600,4750,1.0,0,0,...,9,1700,900,1951,0,98117,47.6833,-122.400,2380,4750
9587,1024069009,2014-05-02,675000.0,5,2.50,2820,67518,2.0,0,0,...,8,2820,0,1979,0,98029,47.5794,-122.025,2820,48351
20602,7853361370,2014-05-02,555000.0,4,2.50,3310,6500,2.0,0,0,...,8,3310,0,2012,0,98065,47.5150,-121.870,2380,5000
11577,5056500260,2014-05-02,440000.0,4,2.25,2160,8119,1.0,0,0,...,8,1080,1080,1966,0,98006,47.5443,-122.177,1850,9000
20559,3438501320,2014-05-02,295000.0,2,2.50,1630,1368,2.0,0,0,...,7,1280,350,2009,0,98106,47.5489,-122.363,1590,2306
18690,1737320120,2014-05-02,470000.0,5,2.50,2210,9655,1.0,0,0,...,8,1460,750,1976,0,98011,47.7698,-122.222,2080,8633
1041,7197300105,2014-05-02,550000.0,4,2.50,1940,10500,1.0,0,0,...,7,1140,800,1976,0,98052,47.6830,-122.114,2200,10500
172,1999700045,2014-05-02,313000.0,3,1.50,1340,7912,1.5,0,0,...,7,1340,0,1955,0,98133,47.7658,-122.339,1480,7940
7734,1962200037,2014-05-02,626000.0,3,2.25,1750,1572,2.5,0,0,...,9,1470,280,2005,0,98102,47.6498,-122.321,2410,3050
5956,3328500250,2014-05-02,285000.0,4,2.50,2200,9397,2.0,0,0,...,8,2200,0,1987,0,98001,47.3406,-122.269,2310,9176
7942,1088800850,2014-05-02,612500.0,4,2.50,2730,12261,2.0,0,0,...,9,2730,0,1991,0,98011,47.7419,-122.205,2730,10872
11907,3221059036,2014-05-02,400000.0,4,2.50,3630,42884,1.5,0,0,...,9,2300,1330,1979,0,98092,47.2617,-122.190,2830,80148
7961,5101405331,2014-05-02,495000.0,4,1.75,1600,6380,1.0,0,0,...,8,1130,470,1959,0,98125,47.7010,-122.306,1090,6380
16880,6403500290,2014-05-02,407500.0,3,2.50,1930,10460,2.0,0,0,...,8,1930,0,1996,0,98059,47.4938,-122.161,2290,8228
20149,2771102144,2014-05-02,385000.0,3,3.25,1320,1327,2.0,0,0,...,8,1040,280,2008,0,98199,47.6506,-122.383,1440,1263
1393,5100401414,2014-05-02,490000.0,2,1.00,880,6380,1.0,0,0,...,7,880,0,1938,1994,98115,47.6924,-122.322,1340,6380
16923,8673400086,2014-05-02,445700.0,3,2.50,1270,1180,3.0,0,0,...,8,1270,0,2001,0,98107,47.6697,-122.392,1320,1180
14088,943100683,2014-05-02,335000.0,3,2.25,1580,16215,1.0,0,0,...,7,1580,0,1978,0,98024,47.5643,-121.897,1450,16215
11891,7305300695,2014-05-02,625000.0,4,2.50,2820,8408,2.0,0,0,...,9,2820,0,2014,0,98155,47.7538,-122.325,1300,8408
11503,9294300070,2014-05-02,650000.0,4,2.00,1820,5000,1.5,0,1,...,7,1640,180,1945,0,98115,47.6815,-122.269,2060,5000
3723,7739100015,2014-05-02,463000.0,3,1.75,1710,7320,1.0,0,0,...,7,1710,0,1948,0,98155,47.7512,-122.281,2260,8839
3714,6127600110,2014-05-02,640000.0,4,2.00,1520,6200,1.5,0,0,...,7,1520,0,1945,0,98115,47.6780,-122.269,1910,6200
10701,2738600140,2014-05-02,499950.0,4,2.50,2860,3345,2.0,0,0,...,8,2190,670,2004,0,98072,47.7735,-122.158,2860,3596
21390,3832050580,2014-05-02,300000.0,3,2.50,2540,5050,2.0,0,0,...,7,2540,0,2006,0,98042,47.3358,-122.055,2280,5050
7323,2202500290,2014-05-02,435000.0,4,1.00,1450,8800,1.0,0,0,...,7,1450,0,1954,0,98006,47.5746,-122.135,1260,8942
13980,1818800144,2014-05-02,750000.0,3,2.50,2390,6550,1.0,0,2,...,8,1440,950,1955,0,98116,47.5714,-122.408,2010,6550
15921,7831800460,2014-05-02,235000.0,2,1.00,1210,9400,1.0,0,0,...,6,1210,0,1949,0,98106,47.5342,-122.360,1580,6026
10246,3876200060,2014-05-02,382500.0,4,1.75,1560,8700,1.0,0,0,...,7,1560,0,1967,0,98034,47.7274,-122.181,2080,8000
21287,123059127,2014-05-02,625000.0,4,3.25,2730,54014,1.0,0,0,...,9,1560,1170,2007,0,98059,47.5133,-122.110,2730,111274
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7894,2122049013,2015-05-13,204750.0,2,1.00,880,7575,1.0,0,0,...,7,880,0,1942,0,98198,47.3757,-122.304,1800,7575
11875,9567800435,2015-05-13,465000.0,4,1.75,1640,7194,1.5,0,0,...,7,1480,160,1915,0,98011,47.7649,-122.205,1440,9405
3067,6145600900,2015-05-13,325000.0,2,2.50,1170,1638,2.0,0,0,...,8,1170,0,2008,0,98133,47.7041,-122.351,1350,1407
5746,9542801310,2015-05-13,267000.0,3,2.25,2510,9900,1.0,0,0,...,8,1610,900,1978,0,98023,47.2988,-122.374,1940,8510
9647,5634500234,2015-05-13,554990.0,3,2.50,2100,6092,2.0,0,0,...,8,2100,0,2013,0,98028,47.7508,-122.239,2250,8592
3770,2112700600,2015-05-13,415000.0,3,2.25,1640,5880,1.0,0,0,...,7,1240,400,1977,0,98106,47.5323,-122.351,1200,4760
21088,2867300170,2015-05-13,498000.0,4,2.50,3402,14355,2.0,0,0,...,10,2846,556,2014,0,98023,47.3009,-122.385,3402,8487
17501,3764650010,2015-05-13,500000.0,3,2.50,2300,4307,2.0,0,0,...,8,2300,0,1998,0,98034,47.7326,-122.197,2010,4307
8625,2568200610,2015-05-13,751000.0,5,2.75,2860,5280,2.0,0,0,...,9,2860,0,2006,0,98052,47.7070,-122.102,3150,6442
8482,7399000360,2015-05-13,330000.0,4,1.75,1720,8300,1.0,0,0,...,8,1720,0,1965,0,98055,47.4654,-122.194,1840,8300
817,1922059135,2015-05-13,250000.0,2,2.00,1130,5500,1.0,0,0,...,6,1130,0,1941,0,98030,47.3839,-122.225,1320,6600
1097,5457300478,2015-05-13,453500.0,2,1.75,1000,1760,1.0,0,0,...,6,600,400,1924,0,98109,47.6261,-122.355,2120,2802
19516,3649100015,2015-05-13,480000.0,3,2.25,1820,15000,1.0,0,0,...,7,1480,340,1978,0,98028,47.7401,-122.249,1930,13600
6441,2698200010,2015-05-13,165000.0,3,1.00,1380,7334,1.0,0,0,...,7,980,400,1981,0,98055,47.4339,-122.192,1910,7859
7350,1604590190,2015-05-13,775000.0,5,3.50,3730,16679,1.0,0,0,...,10,2760,970,1990,0,98075,47.5987,-122.029,3280,16679
837,8682262400,2015-05-13,419950.0,2,1.75,1350,4003,1.0,0,0,...,8,1350,0,2004,0,98053,47.7176,-122.033,1350,4479
21450,8562790720,2015-05-14,749950.0,4,3.50,2630,3757,2.0,0,0,...,10,2200,430,2008,0,98027,47.5322,-122.075,2620,2699
20472,5057100110,2015-05-14,479349.0,5,3.00,3223,6371,2.0,0,0,...,9,3223,0,2014,0,98042,47.3584,-122.163,1979,9008
15811,7129304540,2015-05-14,440000.0,5,2.00,1430,5600,1.5,0,0,...,6,1430,0,1947,0,98118,47.5192,-122.266,1860,5980
7224,1786200010,2015-05-14,456500.0,4,2.50,2580,11780,2.0,0,0,...,9,2580,0,2003,0,98038,47.3658,-122.040,2410,8403
6197,9178601660,2015-05-14,1695000.0,5,3.00,3320,5354,2.0,0,0,...,9,3320,0,2004,0,98103,47.6542,-122.331,2330,4040
12635,4166600610,2015-05-14,335000.0,3,2.00,1410,44866,1.0,0,0,...,7,1410,0,1985,0,98023,47.3273,-122.370,2950,29152
19396,8149600265,2015-05-14,725000.0,4,1.75,1980,5850,1.0,0,1,...,8,1380,600,1960,0,98116,47.5607,-122.391,1810,5850
11560,6752600320,2015-05-14,360000.0,4,2.50,2020,7289,2.0,0,0,...,7,2020,0,1994,0,98031,47.4010,-122.171,2090,7259
17397,6815100380,2015-05-14,855000.0,3,1.75,1900,4000,1.0,0,0,...,7,1300,600,1965,0,98103,47.6854,-122.331,1880,4000
7898,1422700040,2015-05-14,183000.0,3,1.00,1170,7320,1.0,0,0,...,7,1170,0,1962,0,98188,47.4685,-122.282,2040,7320
928,8730000270,2015-05-14,359000.0,2,2.75,1370,1140,2.0,0,0,...,8,1080,290,2009,0,98133,47.7052,-122.343,1370,1090
5637,7923600250,2015-05-15,450000.0,5,2.00,1870,7344,1.5,0,0,...,7,1870,0,1960,0,98007,47.5951,-122.144,1870,7650
13053,5101400871,2015-05-24,445500.0,2,1.75,1390,6670,1.0,0,0,...,6,720,670,1941,0,98115,47.6914,-122.308,920,6380
16594,9106000005,2015-05-27,1310000.0,4,2.25,3750,5000,2.0,0,0,...,8,2440,1310,1924,0,98115,47.6747,-122.303,2170,4590

In [39]:
cleaned_crime_data = crime_data[(crime_data['incident_datetime'] > '2009-05-02') & (crime_data['incident_datetime'] < '2014-05-02')]

In [42]:
cleaned_crime_data.to_csv('../Data/cleaned_crime_data.csv')

In [38]:
crime_data['incident_datetime'] < '2014-05-02'

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
56002    False
56003    False
56004    False
56005    False
56006    False
56007    False
56008    False
56009    False
56010    False
56011    False
56012    False
56013    False
56014    False
56015    False
56016    False
56017    False
56018    False
56019    False
56020    False
56021    False
56022    False
56023    False
56024    False
56025    False
56026    False
56027    False
56028    False
56029    False
56030    False
56031    False
Name: incident_datetime, dtype: bool